// @media only screen and (max-width: 1080px), only screen and (max-device-width: 1080px) {
//   html,
//   body {
//     width: 400px;
//     background: orange;
//     font-size: 168.75px;
//   }
// }
// @media only screen and (max-width: 960px), only screen and (max-device-width: 960px) {
//   html,
//   body {
//     width: 400px;
//     background: greenyellow;
//     font-size: 150px;
//   }
// }
// @media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
//   html,
//   body {
//     width: 100%;
//     font-size: 125px;
//   }
// }
// @media only screen and (max-width: 720px), only screen and (max-device-width: 720px) {
//   html,
//   body {
//       width: 100%;
//     font-size: 112.5px;
//   }
// }
// @media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
//   html,
//   body {
//       width: 100%;
//     font-size: 100px;
//   }
// }
// @media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
//   html,
//   body {
//       width: 100%;
//     font-size: 93.75px;
//   }
// }
// @media only screen and (max-width: 540px), only screen and (max-device-width: 540px) {
//   html,
//   body {
//       width: 100%;
//     font-size: 84.375px;
//   }
// }
// @media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
//   html,
//   body {
//       width: 100%;
//     font-size: 75px;
//   }
// }
// @media only screen and (max-width: 414px), only screen and (max-device-width: 414px) {
//   html,
//   body {
//       width: 100%;
//     font-size: 64.6875px;
//   }
// }
// @media only screen and (max-width: 400px), only screen and (max-device-width: 400px) {
//   html,
//   body {
//       width: 100%;
//     font-size: 62.5px;
//   }
// }
// @media only screen and (max-width: 375px), only screen and (max-device-width: 375px) {
//   html,
//   body {
//       width: 100%;
//     font-size: 58.59375px;
//   }
// }
// @media only screen and (max-width: 360px), only screen and (max-device-width: 360px) {
//   html,
//   body {
//       width: 100%;
//     font-size: 56.25px;
//   }
// }
// @media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
//   html,
//   body {
//       width: 100%;
//     font-size: 50px;
//   }
// }
// @media only screen and (max-width: 240px), only screen and (max-device-width: 240px) {
//   html,
//   body {
//       width: 100%;
//     font-size: 37.5px;
//   }
// }



body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    color: #666;
    box-sizing: border-box;
    font-weight: lighter;
    font-family: Arial,'Hiragino Sans GB',Microsoft Yahei,Helvetica Neue,Helvetica,sans-serif !important;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    &:focus {
        outline: none;
    }
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}   

html,body{
    height: 100%;
    width: 100%;
    background-color: #ebebeb;
}

#box{
    width: 100%;
    height: 2000px;
    overflow: auto;
    color: #000;
    font-size: 30px;
    background: pink;
}

@media (min-width: 800px){
    html, body{
        font-size: 20px !important;
        background: #fff !important;
    };
    #weixin{
        width: 300px !important;
        height: 500px !important;
        position: fixed;
        bottom: -460px;
        right: 0;
        background: #ebebeb;
    }
    .child_page, header, .reminder, .login_button{
        position: absolute !important;
        right: 0;
        width: 300px !important;
        
    }
    .swiper-slide ul li {
        margin-right: .6rem !important;
    }
    footer{
        position: absolute !important;
        width: 300px !important;
    }
    .contacts{
        // height: 500px !important;
        // -webkit-overflow-scrolling: touch; 
        // overflow-y: scroll !important;

    }
    #chat-content{
        width: 300px !important;
        padding: 0 1rem 0 0;
    }
    .coversation .coversationlist ul > li:last-child{
        margin-bottom: 4.5rem !important;
    }
    .footer{
        position: absolute !important;
        bottom: 0;
        right: 0;
        width: 300px !important;
    }
    
}

.clear:after{
    content: '';
    display: block;
    clear: both;
}

.clear{
    zoom:1;
}

.back_img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.margin{
    margin: 0 auto;
}

.left{
    float: left;
}

.right{
    float: right;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.scroll{
  overflow-y:auto; 
  -webkit-overflow-scrolling:touch;
}

//色值
$black: #373b3e;
$sc:#2c2b30;
$littlesc:#969a9d;
$bgcolor:#ebebeb;

//定位上下左右居中
@mixin center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}
//上下居中
@mixin topcenter{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
}
//左右居中
@mixin leftcenter{
    position: absolute;
    left:50%;
    transform:translateX(-50%);
}
//flex布局
@mixin justify($value:space-between){
    display: flex;
    justify-content: $value;
}

//上下居中
@mixin align($type:center){
    display: flex;
    align-items: center;
}

//字体大小，颜色
@mixin sizeColor($size, $color){
    font-size: $size;
    color: $color;
}
//字体大小、行高、字体
@mixin fontStyle($size, $line-height, $family: 'Microsoft YaHei'){
    font:#{$size}/#{$line-height} $family;
}
//宽高
@mixin widthHeight($width,$height){
    width: $width;
    height: $height;
}

@mixin bg($url){
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


//按钮样式

.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 1.92rem;
  height: 1.024rem;
  position: relative;
  cursor: pointer;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}
.tgl-light + .tgl-btn {
  background: #999999;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.tgl-light:checked + .tgl-btn {
  background: #1aad16;

}